<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SalesnInventory.My.MySettings.InventoryConnectionString" connectionString="Data Source=DESKTOP-ENSUSLG\MSSQLSERVER02;Initial Catalog=Inventory;User ID=sa;Password=123" providerName="System.Data.SqlClient" />
        <add name="SalesnInventory.My.MySettings.InventoryDataConnectionString" connectionString="Data Source=DESKTOP-ENSUSLG\MSSQLSERVER02;Initial Catalog=InventoryData;User ID=sa;Password=123" providerName="System.Data.SqlClient" />
        <add name="SalesnInventory.My.MySettings.DbInventoryConnectionString" connectionString="Data Source=DESKTOP-ENSUSLG\MSSQLSERVER02;Initial Catalog=DbInventory;User ID=sa;Password=123" providerName="System.Data.SqlClient" />
        <add name="SalesnInventory.My.MySettings.sales_and_inventory_dbConnectionString" connectionString="Data Source=DESKTOP-JI5QGO0;Initial Catalog=sales_and_inventory_db;Persist Security Info=True;User ID=sa;Password=123" providerName="System.Data.SqlClient" />
        <add name="SalesnInventory.My.MySettings.sales_and_inventoryConnectionString" connectionString="Data Source=DESKTOP-BBVMQ7S\SQLDATABASE;Initial Catalog=sales_and_inventory;User ID=sa;Password=123" providerName="System.Data.SqlClient" />
        <add name="SalesnInventory.My.MySettings.sales_and_inventoryConnectionString1" connectionString="Data Source=DESKTOP-HEA94AS;Initial Catalog=sales_and_inventory;Integrated Security=True" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.Common" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-16.0.0.0" newVersion="16.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>